{% extends "class_web/main.html" %}
{% block body %}
<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-8">
        <h1 class="pd-3 mb-4 border-bottom">下载专区</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href="#">CTE-6复习资料</a></h4>
                <h4><a href="#">CTE-4复习资料</a></h4>
                <h4><a href="#">《他改变了中国》PDF版</a></h4>
                <h4><a href="#">《毛主席语录》PDF版</a></h4>
            </div>
        </div>
        </div>
        <aside class="col-md-4">
            <div class="p-3">
                <h4>联系我们</h4>
                    <ol class="list-unstyled mb-0">
                    <li><p>地址：武汉生物工程学院</p></li>
                    <li><p>电话：110</p></a></li>
                    <li><p>QQ：100010010</p></a></li>
                    </ol>
            </div>
        </aside>
    </div>
</div>
{% endblock %}
